@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/* Scroll Bar */
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(78, 78, 78, 0.829);
  border-radius: 20px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5c0;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(43, 43, 43, 0.356);
  background-color: #555;
}
/* Scroll Bar Ends */

ul li {
  list-style: none;
}
.navbar-main {
  position: fixed;
  display: flex;
  padding-top: 35px;
  width: 100%;
  justify-content: center;
  backdrop-filter: blur(5px);
  z-index: 1;
}
.nav-links ul li a {
  text-decoration: none;
  color: #e2e2e2;
}
.links li a {
  margin-inline: 26px;
  font-weight: 600;
}
.links li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
.actionBtn li a i {
  margin-top: -10px;
  margin-inline: 6px;
  font-size: 22px;
  padding: 10px;
  transition: ease-in 300ms;
}
.actionBtn li a i:hover {
  background-color: #ffffff;
  color: #000;
  border-radius: 50%;
}

.banner-animation {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingcontent {
  position: absolute;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingcontent img {
  transform: rotate(-10deg);
}
.landingcontent h1 {
  color: #fffffff5;
  position: absolute;
  font-size: 36rem;
  letter-spacing: 50px;
  font-weight: 800;
  z-index: -1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#fffffff5;
}
.landingcontent p {
  position: absolute;
  margin-top: 35rem;
  /* -webkit-text-stroke-color: rgb(255, 255, 255); */
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  color: #f5f5f5;
    /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-fill-color: transparent; */
}

.new {
  height: 100vh;
  background-color: #000;
}
